<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ColorPickerWPF" version="1.0.9" targetFramework="net472" />
  <package id="Extended.Wpf.Toolkit" version="4.0.1" targetFramework="net472" />
  <package id="Microsoft.CodeAnalysis.FxCopAnalyzers" version="3.3.0" targetFramework="net472" developmentDependency="true" />
  <package id="Microsoft.CodeAnalysis.VersionCheckAnalyzer" version="3.3.0" targetFramework="net472" developmentDependency="true" />
  <package id="Microsoft.CodeQuality.Analyzers" version="3.3.0" targetFramework="net472" developmentDependency="true" />
  <package id="Microsoft.NetCore.Analyzers" version="3.3.0" targetFramework="net472" developmentDependency="true" />
  <package id="Microsoft.NetFramework.Analyzers" version="3.3.0" targetFramework="net472" developmentDependency="true" />
  <package id="WriteableBitmapEx" version="1.6.7" targetFramework="net472" />
</packages>