*.suo
*.exe
Udemy_Calculator/bin/
Udemy_Calculator/obj/
Udemy_Calculator_Tests/bin/*
Udemy_Calculator_Tests/obj/*
Udemy_Calculator_Tests/bin/Debug/*
Udemy_Calculator_Tests/obj/Debug/*
.vs/
*.dll
*.cache